@using CobotWebApp.Singleton;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IBuildDependency buildDependency

<div class="my-3 text-body-secondary text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <span>100638182 @@ University of Derby © 2023.</span>
        <span>Build: @buildDependency.GetBuildNumber()</span>
      }
    else
    {
        <span>100638182 @@ University of Derby © 2023.</span>
        <span>Build: @buildDependency.GetBuildNumber()</span>
    }
</div>