<header>
    <div class="d-flex flex-column flex-md-row align-items-center py-3 mb-4 border-bottom">
        <div class="d-flex align-items-center link-body-emphasise">
            <i class="bi bi-robot me-2" style="font-size: 2em;"></i> <span class="fs-4">Cobot Digital Twin</span>
        </div>
        <partial name="_LoginPartial" />
    </div>
</header>